<!doctype html>
<html>
<head>
    <title>Logi sisse</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 70px
        }
    </style>
</head>

<body>
<div class="container">

    <div class="jumbotron text-center text-primary">
        <h1><span class="fa fa-lock"></span> Kasutaja autoriseerimine</h1>

        <form action="/auth/login" method="post">
                <label>Your email</label>
                <input id="email" name="email" class="form-control" placeholder="Email" type="email">

                <label>Your password</label>
                <input id="password" class="form-control" placeholder="******" type="password" name="password"><br>

                <input type="submit" class="btn btn-primary btn-block"> Login  </button>
        </form>

        <p>Logi sisse või registreeri:</p>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"> Logi sisse Google'i kaudu</span></a>
    </div>
</div>
<script type="text/javascript" src='js/app.js'></script>
</body>
</html>