<div class="col text-primary settingsDiv">
    <div class="card shadow">
        <div class="card-body">
            <div class="cardInner ">
                <h1>Valemid</h1>
                <hr>
                <h3 id="sisukord">Sisukord</h3>
                <div class="row">
                    <div class="col-3">
                        <ol class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#ShortTerm">Lühiajalise maksevõime suhtarvud</a>
                            </li>
                        </ol>
                    </div>
                    <div class="col-3">
                        <ol class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#effective">Efektiivsuse suhtarvud</a>
                            </li>
                        </ol>
                    </div>
                    <div class="col-3">
                        <ol class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#roi">Tasuvuse suhtarvud</a>
                            </li>
                        </ol>
                    </div>
                    <div class="col-3">
                        <ol class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link " href="#longterm">Pikaajalised maksevõime suhtarvud</a>
                            </li>
                        </ol>
                    </div>
                </div>
                <hr>
                <div id="ShortTerm" class="row">
                    <h3 class="center">Lühiajalise maksevõime suhtarvud</h3>
                    <div class="row">
                        <div class="col-md-5 formula-info">
                            Puhas käibekapital (Net working capital)
                        </div>
                        <div class="col-md-6">
                            $$Käibevara\ kokku - Lühiajalised\ kohustised\ kokku$$
                        </div>
                        <div class="col-md-1 formula-info">
                            rahas
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 formula-info">
                            Lühiajalise võlgnevuse kattekordaja (Current ratio)
                        </div>
                        <div class="col-md-6">
                            $$\frac {Käibevara\ kokku}{Lühiajalised\ kohustised\ kokku}$$
                        </div>
                        <div class="col-md-1 formula-info">
                            kordades
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 formula-info">
                            Likviidsuskordaja ehk happetest (Quick ratio)
                        </div>
                        <div class="col-md-6">
                            $$\frac {Käibevara\ kokku - Varud - Tehtud\ ettemaksed}{Lühiajalised\ kohustised\ kokku}$$
                        </div>
                        <div class="col-md-1 formula-info">
                            kordades
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 formula-info">
                            Kohene maksevalmiduse kordaja (Cash ratio)
                        </div>
                        <div class="col-md-6">
                            $$\frac {Raha + Lühiajalised\ finantsinvesteeringud}{Lühiajalised\ kohustised\ kokku}$$
                        </div>
                        <div class="col-md-1 formula-info">
                            kordades
                        </div>
                    </div>
                </div>
                <a class="nav-link sisukord" href="#sisukord"><span class="badge bg-success">Sisukord</span></a>
                <div id="effective" class="row">
                    <h3 class="center">Efektiivsuse suhtarvud</h3>
                    <div class="row">
                        <div class="col-md-5 formula-info">
                            Varade käibekordaja (Total asset turnover)
                        </div>
                        <div class="col-md-6">
                            $$\frac {2 \cdot Müügitulu}{(Varad\ kokku\ aasta\ algul + Varad\ kokku\ aasta\ lõpul)}$$
                        </div>
                        <div class="col-md-1 formula-info">
                            kordades
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 formula-info">
                            Varade käibevälde (Days assets hold)
                        </div>
                        <div class="col-md-6">
                            $$\frac {365\ või\ 360}{Varade\ käibekordaja}$$
                        </div>
                        <div class="col-md-1 formula-info">
                            päevades
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 formula-info">
                            Põhivarade käibekordaja (Fixed asset turnover)
                        </div>
                        <div class="col-md-6">
                            $$\frac {2 \cdot Müügitulu\ kokku}{(Põhivarad\ kokku\ aasta\ algul + Põhivarad\ kokku\
                            aasta\ lõpul)}$$
                        </div>
                        <div class="col-md-1 formula-info">
                            kordades
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 formula-info">
                            Põhivarade käibevälde (Days fixed assets hold)
                        </div>
                        <div class="col-md-6">
                            $$\frac {365\ või\ 360}{Põhivarade\ käibekordaja}$$
                        </div>
                        <div class="col-md-1 formula-info">
                            päevades
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 formula-info">
                            Ostjate debitoorse võlgnevuse käibekordaja (Accounts receivables turnover)
                        </div>
                        <div class="col-md-6">
                            $$\frac {Krediitmüügitulu\ kokku}{Debitoorne\ võlgnevus - Ostjate\ ettemaksed\ (keskmine)}$$
                        </div>
                        <div class="col-md-1 formula-info">
                            kordades
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 formula-info">
                            Ostjate debitoorse võlgnevuse käibevälde (Days sales outstanding)
                        </div>
                        <div class="col-md-6">
                            $$\frac {365\ või\ 360}{Ostjate\ debitoorse\ võlgnevuse\ käibekordaja}$$
                        </div>
                        <div class="col-md-1 formula-info">
                            päevades
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 formula-info">
                            Varude käibekordaja (Inventory turnover)
                        </div>
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-1 formula-info">
                            kordades
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 formula-info">
                            Skeem 1
                        </div>
                        <div class="col-md-6">
                            $$\frac {2 \cdot Müügitulu}{(Varud\ aasta\ algul + Varud\ aasta\ lõpul)}$$
                        </div>
                        <div class="col-md-1 formula-info">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 formula-info">
                            Skeem 2
                        </div>
                        <div class="col-md-6">
                            $$\frac {2 \cdot Müüdud\ kaupade\ kulu}{(Varud\ aasta\ algul + Varud\ aasta\ lõpul)}$$
                        </div>
                        <div class="col-md-1 formula-info">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 formula-info">
                            Varude käibevälde (Days inventory held)
                        </div>
                        <div class="col-md-6">
                            $$\frac {365\ või\ 360}{Varade\ käibekordaja}$$
                        </div>
                        <div class="col-md-1 formula-info">
                            päevades
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 formula-info">
                            Tarnijate lühiajaliste kohustiste käibekordaja (Accounts payable turnover)
                        </div>
                        <div class="col-md-6">
                        </div>
                        <div class="col-md-1 formula-info">
                            päevades
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 formula-info">
                            Skeem 1
                        </div>
                        <div class="col-md-6 long-formula">
                            $$\frac {2 \cdot Müügitulu \cdot 1,2}{(Võlad\ tarnijatele\ aasta\ algul - Tarnijatele\
                            tehtud\
                            ettemaksed\ + Võlad\ tarnijatele\ aasta\ lõpul\ - tarnijatele\ tehtud\ ettemaksed)}$$
                        </div>
                        <div class="col-md-1 formula-info">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 formula-info">
                            Skeem 2
                        </div>
                        <div class="col-md-6 long-formula">
                            $$\frac {2 \cdot Müüdud kaupade kulu \cdot 1,2}{(Võlad\ tarnijatele\ aasta\ algul -
                            Tarnijatele\
                            tehtud\ ettemaksed\ + Võlad\ tarnijatele\ aasta\ lõpul\ - tarnijatele\ tehtud\
                            ettemaksed)}$$
                        </div>
                        <div class="col-md-1 formula-info">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 formula-info">
                            Lühiajaliste kohustiste käibevälde (Days accounts payable outstanding)
                        </div>
                        <div class="col-md-6">
                            $$\frac {365\ või\ 360}{Lühiajaliste\ kohustiste\ käibekordaja}$$
                        </div>
                        <div class="col-md-1 formula-info">
                            päevades
                        </div>
                    </div>
                    <a class="nav-link sisukord" href="#sisukord"><span class="badge bg-success">Sisukord</span></a>
                    <div id="roi" class="row">
                        <h3 class="center">Tasuvuse suhtarvud</h3>
                        <div class="row">
                            <div class="col-md-5 formula-info">
                                Koguvara puhasrentaablus ROA (Return on total assets)
                            </div>
                            <div class="col-md-6">
                                $$\frac {2 \cdot Kasum\ enne\ tulumaksustamist}{Aktiva\ kokku\ AS + Aktiva\ kokku\ LS}
                                \cdot 100$$
                            </div>
                            <div class="col-md-1 formula-info">
                                protsent
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 formula-info">
                                Investeeringute rentaablus ROI (Return on investment)
                            </div>
                            <div class="col-md-6">
                                $$\frac {2 \cdot Ärikasum}{(Aktiva\ AS + Aktiva\ LS)} \cdot 100$$
                            </div>
                            <div class="col-md-1 formula-info">
                                protsent
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 formula-info">
                                Omakapitali rentaablus ROE (Return on equity)
                            </div>
                            <div class="col-md-6">
                                $$\frac {Puhaskasum}{Aktiva\ AS} \cdot 100$$
                            </div>
                            <div class="col-md-1 formula-info">
                                protsent
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 formula-info">
                                Müügikäibe puhasrentaablus ROS (Return on sales)
                            </div>
                            <div class="col-md-6">
                                $$\frac {Puhaskasum}{Müügitulu} \cdot 100$$
                            </div>
                            <div class="col-md-1 formula-info">
                                protsent
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 formula-info">
                                Müügikäibe brutorentaablus (Gross profit Margin)
                            </div>
                            <div class="col-md-6">
                                $$\frac {Brutokasum}{Müügitulu} \cdot 100$$
                            </div>
                            <div class="col-md-1 formula-info">
                                protsent
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 formula-info">
                                Müügikäibe ärirentaablus (Operating profit margin)
                            </div>
                            <div class="col-md-6">
                                $$\frac {Ärikasum}{Müügitulu} \cdot 100$$
                            </div>
                            <div class="col-md-1 formula-info">
                                protsent
                            </div>
                        </div>
                    </div>
                    <a class="nav-link sisukord" href="#sisukord"><span class="badge bg-success">Sisukord</span></a>
                    <div id="longterm" class="row">
                        <h3 class="center">Pikaajalised maksevõime suhtarvud</h3>
                        <div class="row">
                            <div class="col-md-5 formula-info">
                                Võlakordaja ehk võlakoormus (Total debt ratio)
                            </div>
                            <div class="col-md-6">
                                $$\frac {Kohustised}{Aktiva kokku} \cdot 100$$
                            </div>
                            <div class="col-md-1 formula-info">
                                protsent
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 formula-info">
                                Soliidsuskordaja (Solidity, equity ratio)
                            </div>
                            <div class="col-md-6">
                                $$\frac {Omakapital}{Passiva kokku} \cdot 100$$
                            </div>
                            <div class="col-md-1 formula-info">
                                protsent
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-5 formula-info">
                                Kapitaliseerituse kordaja (Long-term debt ratio)
                            </div>
                            <div class="col-md-6">
                                $$\frac {Pikaajalised\ kohustised}{(Pikaajalised\ kohustised + Omakapital)}$$
                            </div>
                            <div class="col-md-1 formula-info">
                                kordades
                            </div>
                        </div>
                    </div>
                    <a class="nav-link sisukord" href="#sisukord"><span class="badge bg-success">Sisukord</span></a>
                </div>
            </div>
        </div>
    </div>
</div>