<div class="col text-primary settingsDiv">
    <div class="card shadow">
        <div class="card-body">
            <div class="cardInner ">
                <h1>Valemid</h1>
                <hr>
                <h3 id="sisukord">Sisukord</h3>
                <div class="row">
                    <div class="col-3">
                        <ol class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#ShortTerm">Lühiajalise maksevõime suhtarvud</a>
                            </li>
                        </ol>
                    </div>
                    <div class="col-3">
                        <ol class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#effective">Efektiivsuse suhtarvud</a>
                            </li>
                        </ol>
                    </div>
                    <div class="col-3">
                        <ol class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#roi">Tasuvuse suhtarvud</a>
                            </li>
                        </ol>
                    </div>
                    <div class="col-3">
                        <ol class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link " href="#longterm">Pikaajalised maksevõime suhtarvud</a>
                            </li>
                        </ol>
                    </div>
                </div>
                <hr>
                <div id="ShortTerm" class="row">
                    <h3 class="center">Lühiajalise maksevõime suhtarvud</h3>
                    <div class="row">
                        <div class="row">
                            <h5 class="title-center">Puhas käibekapital (Net working capital)&emsp;[rahas]</h5>
                        </div>
                        <div class="row formula-info">
                            <div class="col-md-12 col-lg-12">
                                $$Käibevara\ kokku - Lühiajalised\ kohustised\ kokku$$
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <h5 class="title-center">Lühiajalise võlgnevuse kattekordaja (Current ratio)&emsp;[kordades]</h5>
                        </div>
                        <div class="row formula-info">
                            <div class="col-md-12 col-lg-12">
                                $$\frac {Käibevara\ kokku}{Lühiajalised\ kohustised\ kokku}$$
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <h5 class="title-center">Likviidsuskordaja ehk happetest (Quick ratio)&emsp;[kordades]</h5>
                        </div>
                        <div class="row formula-info">
                            <div class="col-md-12 col-lg-12">
                                $$\frac {Käibevara\ kokku - Varud - Tehtud\ ettemaksed}{Lühiajalised\ kohustised\ kokku}$$
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <h5 class="title-center">Kohene maksevalmiduse kordaja (Cash ratio)&emsp;[kordades]</h5>
                        </div>
                        <div class="row formula-info">
                            <div class="col-md-12 col-lg-12">
                                $$\frac {Raha + Lühiajalised\ finantsinvesteeringud}{Lühiajalised\ kohustised\ kokku}$$
                            </div>
                        </div>
                    </div>
                </div>
                <a class="nav-link sisukord" href="#sisukord"><span class="badge bg-success">Sisukord</span></a>
                <div id="effective" class="row">
                    <h3 class="center">Efektiivsuse suhtarvud</h3>
                    <div class="row">
                        <div class="row">
                            <h5 class="title-center">Varade käibekordaja (Total asset turnover)&emsp;[kordades]</h5>
                        </div>
                        <div class="row formula-info">
                            <div class="col-md-12 col-lg-12">
                                $$\frac {Müügitulu}{(Varad\ kokku\ aasta\ algul + Varad\ kokku\ aasta\ lõpul)/2}$$
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <h5 class="title-center">Varade käibevälde (Days assets hold)&emsp;[päevades]</h5>
                        </div>
                        <div class="row formula-info">
                            <div class="col-md-12 col-lg-12">
                                $$\frac {365\ või\ 360}{Varade\ käibekordaja}$$
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <h5 class="title-center">Põhivarade käibekordaja (Fixed asset turnover)&emsp;[kordades]</h5>
                        </div>
                        <div class="row formula-info">
                            <div class="col-md-12 col-lg-12">
                                $$\frac {Müügitulu\ kokku}{(Põhivarad\ kokku\ aasta\ algul + Põhivarad\ kokku\
                                aasta\ lõpul)/2}$$
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <h5 class="title-center">Põhivarade käibevälde (Days fixed assets hold)&emsp;[päevades]</h5>
                        </div>
                        <div class="row formula-info">
                            <div class="col-md-12 col-lg-12">
                                $$\frac {365\ või\ 360}{Põhivarade\ käibekordaja}$$
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row d-flex justify-content-start">
                            <h5 class="title-center">Ostjate debitoorse võlgnevuse käibekordaja (Accounts receivables turnover) Ei ole
                                käibemaksukohustuslane&emsp;[kordades]</h5>
                        </div>
                        <div class="row formula-info">
                            <div class="col-md-12 col-lg-12">
                                $$\frac {Krediitmüügitulu\ kokku}{((Ostjate\ laekumata\ arved\ aasta\ algul\ - Ostjate\
                                ettemaksed\ aasta\ algul)+(Ostjate\ laekumata\ arved\ aasta\ lõpul\ - ostjate\
                                ettemakse\ aasta\ lõpul))/2}$$
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row d-flex justify-content-start">
                            <h5 class="title-center">Ostjate debitoorse võlgnevuse käibekordaja (Accounts receivables turnover)
                                Käibemaksukohustuslane&emsp;[kordades]</h5>
                        </div>
                        <div class="row formula-info">
                            <div class="col-md-12 col-lg-12">
                                $$\frac {(Krediitmüügitulu\ \cdot 1.0)+(Krediitmüügitulu\ \cdot 1.09)+(Krediitmüügitulu\
                                \cdot 1.2)}{((Ostjate\ laekumata\ arved\ aasta\ algul\ - Ostjate\ ettemaksed\ aasta\
                                algul)+(Ostjate\ laekumata\ arved\ aasta\ lõpul\ - ostjate\ ettemakse\ aasta\
                                lõpul))/2}$$
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <h5 class="title-center">Ostjate debitoorse võlgnevuse käibevälde (Days sales outstanding)&emsp;[päevades]</h5>
                        </div>
                        <div class="row formula-info">
                            <div class="col-md-12 col-lg-12">
                                $$\frac {365\ või\ 360}{Ostjate\ debitoorse\ võlgnevuse\ käibekordaja}$$
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <h5 class="title-center">Varude käibekordaja (Inventory turnover)&emsp;[kordades]</h5>
                        </div>
                        <div class="row formula-info">
                            <div class="col-md-1 col-lg-1 formula-info">
                                Skeem 1
                            </div>
                            <div class="col-md-11 col-lg-11 formula-info">
                                $$\frac {Müügitulu}{(Varud\ aasta\ algul + Varud\ aasta\ lõpul)/2}$$
                            </div>
                        </div>
                        <div class="row formula-info">
                            <div class="col-md-1 col-lg-1 formula-info">
                                Skeem 2
                            </div>
                            <div class="col-md-11 col-lg-11 formula-info">
                                $$\frac {Müüdud\ kaupade\ kulu}{(Varud\ aasta\ algul + Varud\ aasta\ lõpul)/2}$$
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <h5 class="title-center">Varude käibevälde (Days inventory held)&emsp;[päevades]</h5>
                        </div>
                        <div class="row formula-info">
                            <div class="col-md-12 col-lg-12">
                                $$\frac {365\ või\ 360}{Varade\ käibekordaja}$$
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <h5 class="title-center">Tarnijate lühiajaliste kohustiste käibekordaja (Accounts payable turnover) Ei ole
                                käibemaksukohustuslane&emsp;[päevades]</h5>
                        </div>
                        <div class="row formula-info">
                            <div class="col-md-1 col-lg-1 formula-info">
                                Skeem 1
                            </div>
                            <div class="col-md-11 col-lg-11 formula-info smaller-font">
                                $$\frac {Müügitulu}{((Võlad\ tarnijatele\ aasta\ algul - Tarnijatele\
                                tehtud\
                                ettemaksed\ aasta\ algul) + (Võlad\ tarnijatele\ aasta\ lõpul\ - tarnijatele\ tehtud\
                                ettemaksed\ aasta\ lõpul))/2}$$
                            </div>
                        </div>
                        <div class="row formula-info">
                            <div class="col-md-1 col-lg-1 formula-info">
                                Skeem 2
                            </div>
                            <div class="col-md-11 col-lg-11 formula-info smaller-font">
                                $$\frac {Müüdud\ kaupade\ kulu}{((Võlad\ tarnijatele\ aasta\ algul - Tarnijatele\
                                tehtud\
                                ettemaksed\ aasta\ algul) + (Võlad\ tarnijatele\ aasta\ lõpul\ - tarnijatele\ tehtud\
                                ettemaksed\ aasta\ lõpul))/2}$$
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <h5 class="title-center">Tarnijate lühiajaliste kohustiste käibekordaja (Accounts payable turnover)
                                Käibemaksukohustuslane&emsp;[päevades]</h5>
                        </div>
                        <div class="row formula-info">
                            <div class="col-md-1 col-lg-1 formula-info">
                                Skeem 1
                            </div>
                            <div class="col-md-11 col-lg-11 formula-info smaller-font">
                                $$\frac {(Müügitulu \cdot 1,0)+(Müügitulu \cdot 1,09)+(Müügitulu \cdot 1,2)}{((Võlad\
                                tarnijatele\ aasta\ algul - Tarnijatele\
                                tehtud\
                                ettemaksed\ aasta\ algul) + (Võlad\ tarnijatele\ aasta\ lõpul\ - tarnijatele\ tehtud\
                                ettemaksed\ aasta\ lõpul))/2}$$
                            </div>
                        </div>
                        <div class="row formula-info">
                            <div class="col-md-1 col-lg-1 formula-info">
                                Skeem 2
                            </div>
                            <div class="col-md-11 col-lg-11 formula-info smaller-font">
                                $$\frac {(Müüdud kaupade kulu \cdot 1,0)+(Müüdud kaupade kulu \cdot 1,09)+(Müüdud kaupade
                                kulu \cdot 1,2)}{((Võlad\ tarnijatele\ aasta\ algul - Tarnijatele\
                                tehtud\
                                ettemaksed\ aasta\ algul) + (Võlad\ tarnijatele\ aasta\ lõpul\ - tarnijatele\ tehtud\
                                ettemaksed\ aasta\ lõpul))/2}$$
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row">
                            <h5 class="title-center">Lühiajaliste kohustiste käibevälde (Days accounts payable outstanding)&emsp;[päevades]</h5>
                        </div>
                        <div class="row formula-info">
                            <div class="col-md-12 col-lg-12">
                                $$\frac {365\ või\ 360}{Lühiajaliste\ kohustiste\ käibekordaja}$$
                            </div>
                        </div>
                    </div>
                    <a class="nav-link sisukord" href="#sisukord"><span class="badge bg-success">Sisukord</span></a>
                    <div id="roi" class="row">
                        <h3 class="center">Tasuvuse suhtarvud</h3>
                        <div class="row">
                            <div class="row">
                                <h5 class="title-center">Koguvara puhasrentaablus ROA (Return on total assets)&emsp;[protsent]</h5>
                            </div>
                            <div class="row formula-info">
                                <div class="col-md-12 col-lg-12">
                                    $$\frac {Kasum\ enne\ tulumaksustamist}{(Aktiva\ kokku\ aasta\ algul\ + Aktiva\ kokku\
                                    aasta\ lõpul)/2}
                                    \cdot 100$$
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row">
                                <h5 class="title-center">Investeeringute rentaablus ROI (Return on investment)&emsp;[protsent]</h5>
                            </div>
                            <div class="row formula-info">
                                <div class="col-md-12 col-lg-12">
                                    $$\frac {Ärikasum}{(Aktiva\ kokku\ aasta\ algul\ + Aktiva\ kokku\ aasta\ lõpul)/2} \cdot
                                    100$$
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row">
                                <h5 class="title-center">Omakapitali rentaablus ROE (Return on equity)&emsp;[protsent]</h5>
                            </div>
                            <div class="row formula-info">
                                <div class="col-md-12 col-lg-12">
                                    $$\frac {Puhaskasum}{Aktiva\ kokku\ aasta\ algul} \cdot 100$$
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row">
                                <h5 class="title-center">Müügikäibe puhasrentaablus ROS (Return on sales)&emsp;[protsent]</h5>
                            </div>
                            <div class="row formula-info">
                                <div class="col-md-12 col-lg-12">
                                    $$\frac {Puhaskasum}{Müügitulu} \cdot 100$$
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row">
                                <h5 class="title-center">Müügikäibe brutorentaablus (Gross profit Margin)&emsp;[protsent]</h5>
                            </div>
                            <div class="row formula-info">
                                <div class="col-md-12 col-lg-12">
                                    $$\frac {Brutokasum}{Müügitulu} \cdot 100$$
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row">
                                <h5 class="title-center">Müügikäibe ärirentaablus (Operating profit margin)&emsp;[protsent]</h5>
                            </div>
                            <div class="row formula-info">
                                <div class="col-md-12 col-lg-12">
                                    $$\frac {Ärikasum}{Müügitulu} \cdot 100$$
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="nav-link sisukord" href="#sisukord"><span class="badge bg-success">Sisukord</span></a>
                    <div id="longterm" class="row">
                        <h3 class="center">Pikaajalised maksevõime suhtarvud</h3>
                        <div class="row">
                            <div class="row">
                                <h5 class="title-center">Võlakordaja ehk võlakoormus (Total debt ratio)&emsp;[protsent]</h5>
                            </div>
                            <div class="row formula-info">
                                <div class="col-md-12 col-lg-12">
                                    $$\frac {Kohustised}{Aktiva\ kokku} \cdot 100$$
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row">
                                <h5 class="title-center">Soliidsuskordaja (Solidity, Equity ratio)&emsp;[protsent]</h5>
                            </div>
                            <div class="row formula-info">
                                <div class="col-md-12 col-lg-12">
                                    $$\frac {Omakapital}{Passiva\ kokku} \cdot 100$$
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="row">
                                <h5 class="title-center">Kapitaliseerituse kordaja (Long-term debt ratio)&emsp;[kordades]</h5>
                            </div>
                            <div class="row formula-info">
                                <div class="col-md-12 col-lg-12">
                                    $$\frac {Pikaajalised\ kohustised}{(Pikaajalised\ kohustised + Omakapital)}$$
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="nav-link sisukord" href="#sisukord"><span class="badge bg-success">Sisukord</span></a>
                </div>
            </div>
        </div>
    </div>
</div>