<div class="col text-primary settingsDiv">
    <div class="card shadow">
        <div class="card-body">
            <div class="cardInner ">
                <h1>Valemid</h1>
                <hr>
                <h3 id="sisukord">Sisukord</h3>
                <div class="row">
                    <div class="col-3">
                        <ol class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#ShortTerm">Lühiajalise maksevõime suhtarvud</a>
                            </li>
                        </ol>
                    </div>
                    <div class="col-3">
                        <ol class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#effective">Efektiivsuse suhtarvud</a>
                            </li>
                        </ol>
                    </div>
                    <div class="col-3">
                        <ol class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="#roi">Tasuvuse suhtarvud</a>
                            </li>
                        </ol>
                    </div>
                    <div class="col-3">
                        <ol class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link " href="#longterm">Pikaajalised maksevõime suhtarvud</a>
                            </li>
                        </ol>
                    </div>
                </div>
                <hr>
                <div id="ShortTerm" class="row">
                    <h3 class="center">Lühiajalise maksevõime suhtarvud</h3>
                    <div class="row">
                        <div class="col-md-6">
                            
                        </div>
                        <div class="col-md-6">
                            
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            
                        </div>
                        <div class="col-md-6">
                            
                            <a class="nav-link" href="#sisukord"><span class="badge bg-success">Sisukord</span></a>
                        </div>
                    </div>
                </div>
                <div id="effective" class="row">
                    <h3 class="center">Efektiivsuse suhtarvud</h3>
                    <div class="row">
                        <div class="col-md-6">
                            
                        </div>
                        <div class="col-md-6">
                            
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            
                        </div>
                        <div class="col-md-6">
                            
                            <a class="nav-link" href="#sisukord"><span class="badge bg-success">Sisukord</span></a>
                        </div>
                    </div>
                </div>
                <div id="roi" class="row">
                    <h3 class="center">Tasuvuse suhtarvud</h3>
                    <div class="row">
                        <div class="col-md-6">
                            
                        </div>
                        <div class="col-md-6">
                            
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            
                        </div>
                        <div class="col-md-6">
                            
                            <a class="nav-link" href="#sisukord"><span class="badge bg-success">Sisukord</span></a>
                        </div>
                    </div>
                </div>
                <div id="longterm" class="row">
                    <h3 class="center">Pikaajalised maksevõime suhtarvud</h3>
                    <div class="row">
                        <div class="col-md-6">
                            
                        </div>
                        <div class="col-md-6">
                            
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            
                        </div>
                        <div class="col-md-6">
                            
                            <a class="nav-link" href="#sisukord"><span class="badge bg-success">Sisukord</span></a>
                        </div>
                    </div>
                </div>
