<div class="col pictureDiv text-primary">
    ​<picture class="overflow-hidden">
        <img src="./public/img/calculator-large.jpg" class="img-fluid owerflow-hidden" style=";" alt="Kalkulaator">
    </picture>
    <div class="centered text-light">
        <h2>Juhtimisarvestus & finantsanalüüs</h2><br>
        <h4>See lehekülg on loodud lõputööna VSo19 kursuse õpilastel <br>Tartu KHK raamatupidamisekursuse õpilastele<br>
            juhtimisarvestuse ja finantsanalüüsi koostamiseks</h4>
    </div>
</div>