<div class="col">
{{#if error}}
{{>alert}}
{{else}}
<!--Report results-->
{{>reportRes}}

<!--Kasumiaruande modal-->
{{>kasumiAruandeModal}}

<!--bilansi modal-->
{{>balanceModal}}

<!--tasuvuspunkti modal-->
{{>breakEvenModal}}
{{/if}}
</div>