<div class="col">
    <div class="jumbotron bg-danger">
        <h1 class="display-4">Viga!</h1>
        <p class="lead">{{message}}</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/uusRaport" role="button">Uut raportit koostama!</a>
    </div>
</div>