<div class="modal fade" id="breakEvenModal" tabindex="-1" aria-labelledby="exampleModalLabel" data-compid="{{comp_data._id}}"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tasuvuspunkti graafiku andmed</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success d-none" role="alert"></div>
                <button type="button" class="btn btn-primary addRow">LISA RIDA</button>
                <form id="breakEvenPoint" class="breakEvenForm">
                    <table>
                        <thead>
                            <tr>
                                <th></th>
                                <th>Müügikäive</th>
                                <th>Kulud</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Kuu 1</th>
                                <td>
                                    <input type="number" step="0.01" class="form-control salesTurnover"
                                        name="salesTurnover" aria-label="salesTurnover">
                                </td>
                                <td>
                                    <input type="number" step="0.01" class="form-control expenses" name="expenses"
                                        aria-label="expenses">
                                </td>
                            </tr>
                            <tr>
                                <th>Kuu 2</th>
                                <td>
                                    <input type="number" step="0.01" class="form-control salesTurnover"
                                        name="salesTurnover" aria-label="salesTurnover">
                                </td>
                                <td>
                                    <input type="number" step="0.01" class="form-control expenses" name="expenses"
                                        aria-label="expenses">
                                </td>
                            </tr>
                            <tr>
                                <th>Kuu 3</th>
                                <td>
                                    <input type="number" step="0.01" class="form-control salesTurnover"
                                        name="salesTurnover" aria-label="salesTurnover">
                                </td>
                                <td>
                                    <input type="number" step="0.01" class="form-control expenses" name="expenses"
                                        aria-label="expenses">
                                </td>
                            </tr>
                            <tr>
                                <th>Kuu 4</th>
                                <td>
                                    <input type="number" step="0.01" class="form-control salesTurnover"
                                        name="salesTurnover" aria-label="salesTurnover">
                                </td>
                                <td>
                                    <input type="number" step="0.01" class="form-control expenses" name="expenses"
                                        aria-label="expenses">
                                </td>
                            </tr>
                            <tr>
                                <th>Kuu 5</th>
                                <td>
                                    <input type="number" step="0.01" class="form-control salesTurnover"
                                        name="salesTurnover" aria-label="salesTurnover">
                                </td>
                                <td>
                                    <input type="number" step="0.01" class="form-control expenses" name="expenses"
                                        aria-label="expenses">
                                </td>
                            </tr>
                            <tr>
                                <th>Kuu 6</th>
                                <td>
                                    <input type="number" step="0.01" class="form-control salesTurnover"
                                        name="salesTurnover" aria-label="salesTurnover">
                                </td>
                                <td>
                                    <input type="number" step="0.01" class="form-control expenses" name="expenses"
                                        aria-label="expenses">
                                </td>
                            </tr>
                            <tr>
                                <th>Kuu 7</th>
                                <td>
                                    <input type="number" step="0.01" class="form-control salesTurnover"
                                        name="salesTurnover" aria-label="salesTurnover">
                                </td>
                                <td>
                                    <input type="number" step="0.01" class="form-control expenses" name="expenses"
                                        aria-label="expenses">
                                </td>
                            </tr>
                            <tr>
                                <th>Kuu 8</th>
                                <td>
                                    <input type="number" step="0.01" class="form-control salesTurnover"
                                        name="salesTurnover" aria-label="salesTurnover">
                                </td>
                                <td>
                                    <input type="number" step="0.01" class="form-control expenses" name="expenses"
                                        aria-label="expenses">
                                </td>
                            </tr>
                            <tr>
                                <th>Kuu 9</th>
                                <td>
                                    <input type="number" step="0.01" class="form-control salesTurnover"
                                        name="salesTurnover" aria-label="salesTurnover">
                                </td>
                                <td>
                                    <input type="number" step="0.01" class="form-control expenses" name="expenses"
                                        aria-label="expenses">
                                </td>
                            </tr>
                            <tr>
                                <th>Kuu 10</th>
                                <td>
                                    <input type="number" step="0.01" class="form-control salesTurnover"
                                        name="salesTurnover" aria-label="salesTurnover">
                                </td>
                                <td>
                                    <input type="number" step="0.01" class="form-control expenses" name="expenses"
                                        aria-label="expenses">
                                </td>
                            </tr>
                            <tr>
                                <th>Kuu 11</th>
                                <td>
                                    <input type="number" step="0.01" class="form-control salesTurnover"
                                        name="salesTurnover" aria-label="salesTurnover">
                                </td>
                                <td>
                                    <input type="number" step="0.01" class="form-control expenses" name="expenses"
                                        aria-label="expenses">
                                </td>
                            </tr>
                            <tr>
                                <th>Kuu 12</th>
                                <td>
                                    <input type="number" step="0.01" class="form-control salesTurnover"
                                        name="salesTurnover" aria-label="salesTurnover">
                                </td>
                                <td>
                                    <input type="number" step="0.01" class="form-control expenses" name="expenses"
                                        aria-label="expenses">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary salvesta">SALVESTA</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">SULGE</button>
            </div>
        </div>
    </div>
</div>