
body {
    margin: 0;
    padding: 0;
    font-family: Calibri, sans-serif;
}
.sidebar-sticky{
    position: fixed;
    min-height: 100vh;
    max-width: 230px !important;
    min-width: 230px !important;
    z-index: 1;
}

.main-content-area{
    position: relative;
    margin-left: 230px !important;
    width:calc(100% - 230px);
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.card{
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.card-body{
    padding-right: 0px !important;
    padding-left: 0px !important;
    padding-bottom: 0px !important;
}

.cardInner{
    margin: 20px;
}

#settings{
    position: absolute;
    top:95%;
    left: 20px;
    color: #fafafa !important;
    font-size: 15px;
}

#settings:hover{
    cursor: pointer;
}

.sidebar-sticky ul li .nav-link{
    color: #fafafa !important;
    font-size: 20px;
}


.sidebar-sticky ul li .nav-link:hover{
    color: #009dff !important;
}

.sidebar-sticky ul li .nav-link:active{
    color: #bb0c0c !important;
    border-bottom: 3px #bb0c0c !important;
}

h1,h2,h3,h4,h5,h6{
    color: #bb0c0c !important;
}

#reportsAcordion .accordion-body{
    align-items: center;
}

#reportResultsView .card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.compData3 .row{
    min-height: 50px !important;
    justify-content: space-between;
    align-items: baseline;
}

.companyData .row label{
    margin-right: 15px;
}

.compDataCard .card-footer{
    display: flex;
    justify-content: flex-end;
}

.compDataCard button{
    margin-left: 20px;
}

.compDataCard{
    padding: 0 !important;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.companyData label {
    float: left;
}

.companyData .row{
    min-height: 50px !important;
    margin-bottom: 10px;
}

.navbar-brand img{
    max-height: 30px;
    margin:20px;
    margin-bottom: 100px;
    
}

.cardInner{
    padding-left: 15px;
    padding-right: 15px;
}

#reportsAcordion{
    margin-top: 20px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.reports, .settingsDiv{
    padding: 30px;
}

.reports-width {
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}

.reportsTable tbody tr:hover{
    cursor: pointer;
    background-color: #0d6efd;
    color:white;
}

canvas{
    max-height: 1000px !important;
    max-width: 1400px !important;
}

.userData .row{
    flex-direction: row;
    justify-content: space-between;
}

.pictureDiv {
    position: relative;
    text-align: center;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}

.pictureDiv img {
    opacity: 0.2;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.iframeDiv{
    width:640px !important;
    height:480px !important;
}

.accordion-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.juhend{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.form-group {
    margin-top: 10px;
    min-height: 50px !important;
    margin-bottom: 10px;
}

.form-right-column-group {
    padding-bottom: 1px;
}

.floating {
    float: right;
}

.checkbox-right {
    margin-left: 45px !important;
}

.sisukord {
    text-align: center;
}

.formula-info {
    margin: auto;
    padding-bottom: 20px;
}

.title-center {
    text-align: center;
    margin-bottom: 0 !important;
}

.center {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 0.2em;
    padding-bottom: 20px;
}

.smaller-font {
    font-size: 80%;
}

h1 {
    text-align: center;
}
